name: BitMod.Tests

on: [push, pull_request]

jobs:
  build:
    needs: [test]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runtime: [ 'win-x64', 'win-x86', 'linux-x64', linux-musl-x64 ]
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
          dotnet-quality: 'ga'

      - name: Install dependencies
        run: dotnet restore --force -r ${{ matrix.runtime }}

      - name: Build ${{ matrix.runtime }}
        run: dotnet publish --no-restore -f net6.0 -c Release -r ${{ matrix.runtime }}

      - name: Upload Files
        uses: actions/upload-artifact@v3
        with:
          name: Nightly ${{ matrix.runtime }}
          path: build/
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework-version: [ 'net6.0' ]
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
          dotnet-quality: 'ga'

      - name: Install dependencies
        run: dotnet restore
      - name: Build for ${{ matrix.framework-version }}
        run: dotnet build tests/BitMod.Tests --framework ${{ matrix.framework-version }} --configuration Release --no-restore
      - name: Test for ${{ matrix.framework-version }}
        run: dotnet test tests/BitMod.Tests --framework ${{ matrix.framework-version }} --configuration Release --no-build --no-restore --verbosity normal
